@font-face {
    font-family: GameFont;
    src: url("JF-Dot-AyuMin18.ttf");
}

@font-face {
    font-family: ChineseFont;
    src: url("Cubic_11_110.ttf");
}

@font-face {
    font-family: KoreanFont;
    src: url("DOSGothic.ttf");
}

.IIV::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
}